/* -- // Estilos propios del Blog ---->
 Se utilizaron algunos de los helpers del Framework Foundation 6
 y se forzaron (override) sus atributos y propiedades con #!important*/

.body-style {
  background: url("../img/bg-blog.jpg") no-repeat fixed center center !important;
  background-size: cover;
}

.b-radius {
  border-radius: 5px !important;
}

.wh-text {
  color: white !important;
  background: transparent !important;
}

.callout.primary,
.top-bar {
  background: transparent !important;
}

.callout.success {
  background: #1c4900a9 !important;
  border: 1px solid #c7ff00;
}

.callout.warning,
.callout.secondary,
textarea {
  padding: 0.5rem !important;
  margin: 0 0.5rem 0 0.5rem !important;
}

.callout.alert.small {
  margin: 0 0 0.5rem 0 !important;
}

.row-logo {
  max-height: 10rem !important;
}

.img-logo-bar {
  max-width: 3rem;
  max-height: 2rem;
  padding-right: 0.5rem;
}

.size-icon {
  font-size: 24px;
}

.bar-top {
  background-color: #1c4900a9 !important;
  padding: 0.5rem !important;
  box-shadow: -2px 2px 2px #c7ff00a9 !important;
}

.bar-top-padding {
  padding-bottom: 0.5rem !important;
}

.input-group {
  max-height: 4rem !important;
}

.top-bar-right li.padding-0 {
  padding: 0 0.3rem 0 0 !important;
}

.fav-col-paddding {
  padding: 0.5rem !important;
}

td a {
  color: #ff8f44 !important;
}

td a:hover {
  color: #1c4900 !important;
}

.card-divider {
  padding: 0.5rem !important;
  display: initial;
}

.card-section .input-group,
textarea {
  max-height: 6rem !important;
}

.img-comment {
  max-height: 3rem !important;
  height: 100% !important;
  margin: 0 0.5rem 0 0 !important;
}

.small-12 .h6 {
  line-height: 1em !important;
}

.h4 small {
  padding: 0.5rem 0 0 0.5rem !important;
  font-size: 60%;
}


/* ** -----------/- Estilo responsivo para los tamaños de Pantalla -\------------ ** 
** Estilo para pantallas de un maximo de ancho = 1024px */

@media (max-width: 1024px) {
  #side-menu li a.size-icon,
  #side-menu li a i.size-icon {
    font-size: 16px;
  }
}


/* Estilo para pantallas de un maximo de ancho = 764px */

@media (max-width: 764px) {
  h5,
  .size-icon {
    font-size: 18px;
  }
  #side-menu li a.size-icon,
  #side-menu li a i.size-icon {
    font-size: 12px;
  }
  .card-section,
  textarea {
    font-size: 85%;
  }
}


/* Estilo para pantallas de un maximo de ancho = 638px */

@media (max-width: 638px) {
  .img-logo-bar {
    max-width: 4.5rem;
    max-height: 3.5rem;
    margin-bottom: 0.5rem;
  }
  small {
    font-size: 75% !important;
  }
  h5 {
    line-height: 1em !important;
  }
  .top-bar-right {
    margin-top: 0.5rem !important;
  }
}